@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav {
  padding: 1em;
  margin-top: 2em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
li {
  margin-right: 2em;
}

a:hover {
  color: rgb(108, 99, 46);
}

#content,
#about {
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  width: 50%;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
