@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5em;
  font-family: "Poppins", sans-serif;
}

fieldset {
  margin-top: 1rem;
  border-radius: 10px;
  padding: 1em;
}

input[type="text"] {
  padding: 5px 10px;
  border-radius: 6px;
  margin: 10px;
}
